@import "_general/customBootstrap";

@import "_general/_colors";
@import "_general/_spaces";
@import "_general/_fonts";
@import "_general/_general";

@import "_shared/_header";
@import "_shared/_footer";

// @import "_cmp-pages/_xyz";
// @import "_pages/_xyz";
