$color-primary: rgb(37, 86, 161);
$color-secondary: rgb(88, 134, 240);

$color-black: black;
$color-white: #FFF;
$color-antrazit: #212121;

$color-surface: #F5F5F5;

$color-text-selection: black;
$color-text-selection-background: black;