/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
$helvetica: "HelveticaNeue", "Helvetica", "Arial", sans-serif;

@mixin font-basics {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
  color: $color-black;
  // padding: 0px;
  // margin: 0px;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 400;
}

// XL SIZE
@mixin helvetica-xl-mobile {
  @include font-basics;
  font-family: $helvetica;
  font-size: 4.8rem;
  letter-spacing: 1.1;
  line-height: 1;
}

@mixin helvetica-xl-desktop {
  @include font-basics;
  font-family: $helvetica;
  font-size: 4.8rem;
  letter-spacing: 1.1;
  line-height: 1;
}

// REGULAR SIZE
@mixin helvetica-m-mobile {
  @include font-basics;
  font-family: $helvetica;
  font-size: 2.4rem;
  letter-spacing: 0.5;
  line-height: 3rem;
}

@mixin helvetica-m-desktop {
  @include font-basics;
  font-family: $helvetica;
  font-size: 2.4rem;
  letter-spacing: 0.5;
  line-height: 3rem;
}

// SMALL SIZE
@mixin helvetica-s-mobile {
  @include font-basics;
  font-family: $helvetica;
  font-size: 1.5rem;
  letter-spacing: 0.25;
  line-height: 1.8rem;
}

@mixin helvetica-s-desktop {
  @include font-basics;
  font-family: $helvetica;
  font-size: 1.5rem;
  letter-spacing: 0.25;
  line-height: 1.8rem;
}

/* Mobile Sizing
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
// base classe for everything
// base classe for everything
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  @include helvetica-m-mobile;
}
.type-xl {
  @include helvetica-xl-mobile;
}
.type-s {
  @include helvetica-s-mobile;
}
.type-s p {
  @include helvetica-s-desktop;
}

// create a class for each font different from the base class
// e.g. dia-small, dia-medium, dia-large, times-small, times-medium, times-large
// or sans-small, ..., serif-small, ...

/* Desktop Sizing
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 768px) {
  // body
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    @include helvetica-m-desktop;
  }
  .type-xl {
    @include helvetica-xl-desktop;
  }
  .type-s {
    // @include helvetica-s-desktop;
    @include helvetica-m-desktop;
  }

  .type-s p {
    @include helvetica-s-desktop;
  }
}

/* General Font Settings
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.subtitle {
  // font-weight: 600;
  text-decoration: underline;
}

// create spacing between richtext p's
.richtext-linebreaks p {
  margin-bottom: 30px;
  &:last-of-type {
    margin-bottom: 0px;
  }
}

.type-center,
.type-center p {
  text-align: center;
}

span.spacing {
  letter-spacing: 1.2rem;
}

::-moz-selection {
  /* Code for Firefox */
  color: $color-text-selection;
  background-color: $color-text-selection-background;
  // background-color: rgba(255, 0, 0, 0.99);
}
::selection {
  color: $color-text-selection;
  background-color: $color-text-selection-background;
  // background-color: rgba(255, 0, 0, 0.99);
}
::-webkit-selection {
  color: $color-text-selection;
  background-color: $color-text-selection-background;
  // background-color: rgba(255, 0, 0, 0.99);
}
